
&i2c_smb_0 {
	status = "okay";
	port_sel = <0>;
	pinctrl-0 = < &i2c00_scl_gpio004 &i2c00_sda_gpio003 >;
	pinctrl-names = "default";

	pca9555@22 {
		compatible = "nxp,pca95xx";

		/* Address depends on 0100<A2=0><A1=1><A0=0><R/W>b. */
		reg = <0x22>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	pca9555@23 {
		compatible = "nxp,pca95xx";

		/* Address depends on 0100<A2=1><A1=0><A0=1><R/W>b. */
		reg = <0x23>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c_smb_1 {
	status = "okay";
	port_sel = <6>;
	pinctrl-0 = < &i2c06_sda_gpio132 &i2c06_scl_gpio140 >;
	pinctrl-names = "default";
};

&spi0 {
	status = "okay";
	clock-frequency = <4000000>;
	lines = <4>;
	chip_select = <0>;
	port_sel = <0>; /* Shared SPI */

	pinctrl-0 = < &shd_cs0_n_gpio055
		      &shd_clk_gpio056
		      &shd_io0_gpio223
		      &shd_io1_gpio224
		      &shd_io2_gpio227
		      &shd_io3_gpio016 >;
	pinctrl-names = "default";
};

&kscan0 {
	status = "okay";

	pinctrl-0 = < &ksi0_gpio017
		      &ksi1_gpio020
		      &ksi2_gpio021
		      &ksi3_gpio026
		      &ksi4_gpio027
		      &ksi5_gpio030
		      &ksi6_gpio031
		      &ksi7_gpio032
		      &kso00_gpio040
		      &kso01_gpio045
		      &kso02_gpio046
		      &kso03_gpio047
		      &kso04_gpio107
		      &kso05_gpio112
		      &kso06_gpio113
		      &kso07_gpio120
		      &kso08_gpio121
		      &kso09_gpio122
		      &kso10_gpio123
		      &kso11_gpio124
		      &kso12_gpio125
		      &kso13_gpio126 >;
	pinctrl-names = "default";
};

&adc0 {
	status = "okay";
	pinctrl-0 = <&adc00_gpio200 &adc03_gpio203
		     &adc04_gpio204 &adc05_gpio205>;
	pinctrl-names = "default";
};

&tach0 {
	status = "okay";
	pinctrl-0 = < &tach0_gpio050 >;
	pinctrl-names = "default";
};

&peci0 {
	status = "okay";

	pinctrl-0 = < &peci_dat_gpio042 &vref_vtt_gpio044 >;
	pinctrl-names = "default";
};

&ps2_0 {
	status = "okay";

	pinctrl-0 = < &ps2_clk0a_gpio114 &ps2_dat0a_gpio115 >;
	pinctrl-names = "default";
};

&espi_saf0 {
	status = "okay";
};

&eeprom {
	status = "okay";

	pinctrl-0 = <&eeprom_cs_gpio116
		      &eeprom_clk_gpio117
		      &eeprom_mosi_gpio074
		      &eeprom_miso_gpio075>;
	pinctrl-names = "default";
};

&pwm8 {
	status = "okay";

	pinctrl-0 = < &pwm8_gpio035 >;
	pinctrl-names = "default";
};
