/*
 * Copyright (c) 2020, Intel Corporation
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include "mec1501_adl-pinctrl.dtsi"

/ {
	model = "Intel MEC1501_ADL development board";
	compatible = "microchip,mec1501_adl",
		     "microchip,mec1501hsz";

	chosen {
		zephyr,sram = &sram0;
		zephyr,console = &uart2;
		zephyr,flash = &flash0;
	};

	aliases {
		pwm-0 = &pwm0;
		peci-0 = &peci0;

		i2c0 = &i2c_smb_0;
	};

	power-states {
		idle: idle {
			compatible = "zephyr,power-state";
			power-state-name = "suspend-to-idle";
			min-residency-us = <1000000>;
		};

		suspend_to_ram: suspend_to_ram {
			compatible = "zephyr,power-state";
			power-state-name = "suspend-to-ram";
			min-residency-us = <2000000>;
		};
	};
};

&cpu0 {
	cpu-power-states = <&idle &suspend_to_ram>;
};

&uart2 {
	status = "okay";
	current-speed = <115200>;

	pinctrl-0 = <&uart2_tx_gpio146 &uart2_rx_gpio145>;
	pinctrl-names = "default";
};

&adc0 {
	status = "okay";
	pinctrl-0 = <&adc04_gpio204 &adc05_gpio205
		     &adc06_gpio206 &adc07_gpio207 >;
	pinctrl-names = "default";
};

&i2c_smb_0 {
	status = "okay";
	port_sel = <0>;
	sda-gpios = <&gpio_000_036 3 0>;
	scl-gpios = <&gpio_000_036 4 0>;
	pinctrl-0 = < &i2c00_scl_gpio004 &i2c00_sda_gpio003 >;
	pinctrl-names = "default";

	pca9555@22 {
		compatible = "nxp,pca95xx";

		/* I2C address depends on PCA9555 HW straps.
		 * Address is: 0100<A2><A1><A0>b.
		 */
		reg = <0x22>;

		gpio-controller;
		#gpio-cells = <2>;
	};
};

&i2c_smb_1 {
	status = "okay";
	port_sel = <1>;
	sda-gpios = <&gpio_100_136 24 0>;
	scl-gpios = <&gpio_100_136 25 0>;

	pinctrl-0 = < &i2c01_scl_gpio131 &i2c01_sda_gpio130 >;
	pinctrl-names = "default";
};

&espi0 {
	status = "okay";
	io_girq = <19>;
	vw_girqs = <24 25>;
	pc_girq = <15>;
	pinctrl-0 = < &espi_reset_n_gpio061 &espi_cs_n_gpio066
			&espi_alert_n_gpio063 &espi_clk_gpio065
			&espi_io0_gpio070 &espi_io1_gpio071
			&espi_io2_gpio072 &espi_io3_gpio073 >;
	pinctrl-names = "default";
};

&espi_saf0 {
	status = "okay";
};

&spi0 {
	pinctrl-0 = < &shd_cs0_n_gpio055 &shd_clk_gpio056
			&shd_io0_gpio223 &shd_io1_gpio224
			&shd_io2_gpio227 &shd_io3_gpio016 >;
	pinctrl-names = "default";
};

&timer5 {
	status = "okay";
};

&ps2_0 {
	status = "okay";
	pinctrl-0 = < &ps2_clk0b_gpio007 &ps2_dat0b_gpio010 >;
	pinctrl-names = "default";
};

&ps2_1 {
	status = "okay";
	pinctrl-0 = < &ps2_clk1b_gpio154 &ps2_dat1b_gpio155 >;
	pinctrl-names = "default";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = < &pwm0_gpio053 >;
	pinctrl-names = "default";
};

&peci0 {
	status = "okay";
	pinctrl-0 = < &peci_dat_gpio042 &vref_vtt_gpio044 >;
	pinctrl-names = "default";
};

&tach0 {
	status = "okay";
	pinctrl-0 = < &tach0_gpio050 >;
	pinctrl-names = "default";
};

&wdog {
	status = "okay";
};
