# Kconfig - Config options for keyboard module
#
# Copyright (c) 2021 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

menu "Keyboard and mouse"

config PS2_KEYBOARD
	bool "Turn on PS/2 keyboard application application module."
	default y if ESPI_PERIPHERAL_8042_KBC && PS2
	help
	  It is desirable that users turn this feature on, only if there
	  is intention to use it.
	  PS/2 and keyboard scan matrix use the same application interfaces
	  to communicate information from/to the host.

config PS2_MOUSE
	bool "Turn on PS/2 mouse application application module."
	default y if ESPI_PERIPHERAL_8042_KBC && PS2
	help
	  It is desirable that users turn this feature on, only if there
	  is intention to use it.

config KSCAN_EC
	bool "Turn on kscan matrix application module."
	default y if ESPI_PERIPHERAL_8042_KBC && KSCAN
	help
	  The keyboard scan matrix is a passive device which do not send
	  any command during the configuration phase. Therefore, the EC has
	  to fake this commands in order to preseve host configuration flow.
	  PS/2 and keyboard scan matrix use the same application interfaces
	  to communicate information from/to the host.

config KBCHOST_LOG_LEVEL
	int "kbchost log level"
	depends on LOG
	default 2 if EC_DEBUG_LOG
	default 0
	help
	  Set log level for the kbc8042 module and ps2.

endmenu
